:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --color-wtite: #ffffff;
  --brand-color: #2196f3;
  --color-light-gray: #f5f4fa;
}

body {
  background: var(--color-wtite);
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  /* width: 1600px;
  margin: auto; */
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

/* header */

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */

.header {
  border-width: 0px 0px 1px 0px;
  border-color: #ececec;
  border-style: solid;
}
.header > div {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.header-logo span {
  color: #000000;
}
.site-nav {
  margin-left: 93px;
  display: flex;
  gap: 50px;
}
.site-nav a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  padding: 32px 0;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--brand-color);
}
a.current {
  color: var(--brand-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 32px 0;
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--brand-color);
}
.auth-nav a:first-of-type {
  margin-right: 50px;
}

/* main */
.hero {
  align-items: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-wtite);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: var(--color-wtite);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.features-title {
  display: none;
}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-item {
  width: 270px;
  align-items: flex-start;
}
.features-item:last-of-type {
  padding-right: 0;
}
.working {
  padding-top: 0;
}
.working-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}
.working-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team {
  background-color: var(--color-light-gray);
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team-item {
  background-color: var(--color-wtite);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}
.team-subtitle {
  padding: 30px;
  /* padding-bottom: 30px; */
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* footer */
.footer {
  display: block;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  padding-bottom: 20px;
}
.footer-logo span {
  color: var(--color-wtite);
  margin-bottom: 20px;
}
.footer-links {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link {
  margin-bottom: 9px;
}
.footer-link:last-of-type {
  margin-bottom: 0;
}
.company-address {
  color: var(--color-wtite);
}
.company-mail,
.company-phone {
  color: rgba(255, 255, 255, 0.6);
}
.company-mail:hover,
.company-mail:focus,
.company-phone:hover,
.company-phone:focus {
  color: var(--brand-color);
}

/* Portfolio */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item {
  margin-right: 8px;
}
.filters-item:last-of-type {
  margin-right: 0;
}
.filters-botton {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: var(--color-light-gray);
  cursor: pointer;
  border-style: none;
  padding: 6px 25px;
  border-radius: 4px;
}

.filters-botton:hover,
.filters-botton:focus {
  background: var(--brand-color);
  color: var(--color-wtite);
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  /* align-content: space-between; */
  margin: -15px;
}
.work-item {
  flex-basis: calc((100% - 90px) / 3);
  /* width: 370px; */
  /* flex-basis: 370px; */
  margin: 15px;
}
.work-card {
  /* width: auto; */
  padding: 20px 0 20px 24px;
  border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
}

.work-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.work-card-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
